.form-group {
    width: 70%;
}

.form-group .field {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
}

.form-group .control {
    margin: 1em !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 1024px) {
    .form-group .field {
        flex-direction: row;
    }
}